<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recsharingsys.nav.mapper.UserSiteHitsMapper">

    <resultMap type="UserSiteHits" id="UserSiteHitsResult">
        <result property="userId"    column="user_id"    />
        <result property="siteId"    column="site_id"    />
        <result property="hits"    column="hits"    />
    </resultMap>

    <sql id="selectUserSiteHits">
        select
            ust.user_id,
            ust.site_id,
            ust.hits
        from user_site_hits ust
    </sql>

    <select id="findAllUserSiteHits"  resultMap="UserSiteHitsResult">
        <include refid="selectUserSiteHits"/>
    </select>


</mapper>
